:root {
  --section-bg: #f7f7f7;
  --header-color: #343434;
}

body {
  --bs-body-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.section-color {
  background-color: var(--section-bg);
}

.section-space {
  padding: 100px 0px;
}

.text-header {
  color: var(--header-color);
}

.heading {
  font-size: calc(2rem + 0.5vh);
  font-weight: 900;
  line-height: 2.75rem;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
}

.heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 200px;
  height: 30px;
  background-image: url(../imgs/dots2.png);
  background-repeat: repeat;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .w-48 {
    width: 48%;
  }
}

.navbar-nav .nav-link.active {
  border-bottom: 1px solid white;
  transition: 0.5s all ease-in-out;
  animation: typing 1s;
}

/* start of hero section */

.hero {
  background-image: url(../imgs/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.65;
  z-index: -1;
}

.hero-links li {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-links li a i {
  font-size: 0.875rem;
}

.hero-caption {
  display: inline-flex;
  white-space: nowrap;
}

.hero-caption :first-child {
  padding-right: 10px;
}

.hero-caption :last-child {
  display: flex;
  border-right: 1px solid white;
  overflow: hidden;
  animation-name: typing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 280px) {
  .hero-caption {
    display: flex;
    flex-direction: column;
  }
}

/* end of hero section */

/* start of about section */

.about-img:after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: -10px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.about-data h2 {
  font-size: 1.875rem;
  line-height: 2.0625rem;
  font-weight: 800;
}

.about-subTitile {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(153, 153, 153);
}

.about-info {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: rgb(116, 129, 130);
}
.skills .bar {
  --bs-progress-height: 1.5rem;
}

.about-btn {
  padding: 10px 30px;
  background-color: black;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  transition: 0.5s all ease-in-out;
  width: fit-content;
}

.about-btn:hover {
  background: transparent;
  color: #343434;
}

.about-btn2 {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  color: black;
  transition: 0.5s all ease-in-out;
  width: fit-content;
}

.about-btn2:hover {
  background: black;
  color: #eee;
}
/* end of about section */

/* start of services section */

.services-inner {
  padding: 50px 20px;
  background-color: white;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-icon {
  font-size: 1.875rem;
  line-height: 30px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  transition: 0.5s all ease-in-out;
}

.services-icon:hover {
  background-color: black;
  color: white;
}

.services-inner h3 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.25rem;
  color: rgb(52, 52, 52);
}

.services-inner p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: rgb(116, 129, 130);
  word-spacing: 2px;
}

/* end of services section */

/* start of portfolio section */

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-nav .nav-tabs {
  border: none;
}

.portfolio-nav .nav-tabs .nav-link {
  border: none;
  color: #222;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.portfolio-nav .nav-tabs .nav-link.active {
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
}

.portfolio-overlay {
  background-color: rgba(255, 255, 255, 0.795);
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  transform: translateY(102%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-overlay .portfolio-links a {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.portfolio-overlay .portfolio-links a i {
  font-size: 0.875rem;
  line-height: 28px;
}

.portfolio-overlay .portfolio-links a:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* end of portfolio section */

/* start of model section */

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border: none;
  padding: 5px 5px;
}

/* end of model section */

/* start of carsoul section */

.carsoul-img {
  width: 90px;
  height: 90px;
}

.carsoul-data p {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: rgb(116, 129, 130);
}

.carsoul-data h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: rgb(52, 52, 52);
  margin: 30px 0 5px;
}

.carsoul-data span {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.0625rem;
  color: rgb(136, 136, 136);
  margin-bottom: 30px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d6d6d6;
  margin: 5px 7px;
}
.carousel-indicators .active {
  background-color: #869791;
}
/* end of carsoul section */

/* start of clients section */

.clients-inner {
  padding: 0px 15px;
}
.clients-inner i {
  font-size: 1.875rem;
  line-height: 1.875rem;
  color: rgb(52, 52, 52);
}

.clients-inner h5 {
  font-size: 1.875rem;
  line-height: 2.0625rem;
  font-weight: 900;
  color: rgb(52, 52, 52);
}

.clients-inner p {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgb(116, 129, 130);
}

/* end of clients section */

/* start of team section */

.team-img img {
  transition: 0.5s all;
}

.team-img:hover img {
  transform: scale(1.2);
}

.team-social {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  /* inset: 5px; */
  opacity: 0;
  transform: rotateY(180deg) scale(0.5, 0.5);
  transition: 0.5s all;
}

.team-card:hover .team-social {
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.team-links {
  position: relative;
  top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.team-links li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  display: block;
  font-size: 1.25rem;
  line-height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.team-links li a:hover {
  color: black;
  background-color: white;
}
.team-text {
  padding: 25px;
  color: white;
  background-color: #5b5b5b;
}

.team-text p {
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 5px;
}

.team-text span {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
}

/* end of team section */

/* start of contact section */

.contact-info {
  margin-bottom: 50px;
}

.contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  font-size: 1.5625rem;
  transition: all 0.5s;
  background: #f4f4f4;
  margin: auto;
  margin-bottom: 15px;
}

.contact-icon:hover {
  color: white;
  background-color: black;
}

.contact-card p {
  color: rgb(52, 52, 52);
  line-height: 1.125rem;
  font-weight: 700;
}

.contact-card span {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: rgb(116, 129, 130);
}

.form-control {
  background-color: #f4f4f4;
  border: none;
}
.form-control:focus {
  box-shadow: none;
  background-color: #f4f4f4;
}

.contact-form button {
  padding: 10px 40px;
  width: fit-content;
  border: 1px solid #1c1c1c;
  font-size: 13px;
  transition: all 0.5s;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.contact-form button:hover {
  background-color: white;
  color: black;
}

/* end of contact section */

/* start of footer section */

.footer {
  background: #1c1c1c;
  padding: 30px;
  color: rgb(116, 129, 130);
  font-size: 0.8125rem;
  line-height: 1.3125rem;
}

/* end of footer section */
